<div class="container" mt-5></div>
<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20">
 <mat-grid-tile><img src="../../assets/LABHESH.jpg" alt="" srcset="" width="150" height="150" routerLink="/employee" style="cursor:pointer"></mat-grid-tile>
 <mat-grid-tile><img src="../../assets/photo.jpeg" alt="" srcset="" width="150" height="150"></mat-grid-tile>
 <mat-grid-tile><img src="../../assets/PhotoDev.jpg" alt="" srcset="" width="150" height="150"></mat-grid-tile>
 <mat-grid-tile><img src="../../assets/Sangeeta.jpg" alt="" srcset="" width="150" height="150"></mat-grid-tile>
</mat-grid-list>